<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All products</title>
  </head>
  <body>
    <main>
      <h1>All products</h1>
      <ul>
        <% for(let product of products) { %>
        <li>
          <b
            ><%= product.name %><a href="/products/id=<%= product.id %>"
              >Show details</a
            ></b
          >
          <a href="/products/id=<%= product.id %>/update">Update</a>
        </li>
        <% } %>
      </ul>
      <a href="/products/create">Create a new product</a>
    </main>
  </body>
</html>
